body
{
  margin: 0;
}

/* Desativar caixas em torno de imagens no IE10 */
a img
{
  border: 0px;
}
::-moz-selection
{
  background-color: #6ab344;
  color: #fff;
}
::selection
{
  background-color: #6ab344;
  color: #fff;
}

/* ################################################ */
/* ################### HEADER ##################### */
/* ################################################ */

/* Lupa de Pesquisa */
.portal-search-box .mdl-textfield__input
{
  color: rgba(255, 255, 255, 0.87);
}
.portal-header .mdl-menu__container
{
  z-index: 50;
  margin: 0 !important;
}
.mdl-textfield--expandable
{
  width: auto;
}
.portal-mobile-title
{
  display: none !important;
}

/* Logomarca */
.logoPrincipal
{
  height: 50px;
  width: 300px;
}
.logoPrincipal1
{
  display: none;
}
.logoCentral
{
  height: 35px;
  width: 50px; 
}
.logoLateral
{
  height: 80px;
  width: 220px;
  margin-top: 40px;
}
/* Fim logomarca */

/* Menu */
.portal-header 
{
  overflow: visible;
  background-color: #311c9e; 
}
.portal-header .material-icons 
{
  color: white !important;
}
.portal-header .mdl-layout__drawer-button 
{
  background: transparent;
  color: #767777;
}
.portal-header .mdl-navigation__link 
{
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.portal-navigation-container 
{
  /* Truque simples para fazer o transbordamento acontecer à esquerda... */
  direction: rtl;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.portal-navigation 
{
  /* ... E agora certifique-se de que o conteúdo é realmente LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}
.portal-search-box.is-focused + .portal-navigation-container 
{
  opacity: 0;
  width: 100px;
}
.portal-navigation .mdl-navigation__link 
{
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.portal-navigation .mdl-navigation__link:hover 
{
  border-bottom: 4px solid orange;
}
.portal-search-box 
{
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}
.portal-more-button 
{
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.mdl-layout__drawer-button
{
  display: none;
}
/* Fim menu */

/* Barra do menu lateral para dispositivos móveis */
.portal-drawer 
{
  border-right: none;
}
.portal-drawer .mdl-navigation__link.mdl-navigation__link 
{
  font-size: 14px;
  color: #757575;
}
.portal-drawer span.mdl-navigation__link.mdl-navigation__link 
{
  color: #8bc34a;
}
.portal-drawer .mdl-layout-title 
{
  position: relative;
  background: #311c9e;
  height: 160px;
}
/* Fim da barra lateral*/

/* Imagem principal */
.portal-be-together-section 
{
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('../images/lamp1.png') center 30% no-repeat;
  background-size: cover; 
}

/* Texto da imagem principal */
.texto
{
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-align: left;
  color: black;
  /*color: #ff3d00;*/
}
.texto1
{
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-align: right;
  color: black;
  /*color: #ff3d00;*/
}
.subTextoCapa
{
  color: #311c9e;
}
.subTextoCapa1
{
  color: #311c9e;
}
/* fim do texto da imagem principal */

.portal-create-character 
{
  font-size: 21px;
  padding-top: 400px;
}
.portal-create-character a 
{
  text-decoration: none;
  color: #000000;
  font-weight: 300;
}

/* Serviços */
.portal-screen-section 
{
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #07acd6;
}
.portal-screen-section .mdl-grid
{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* Fim Serviços */

/* Modal cartões dos editores */
.modal__content .modal__text
{
  width: 100%;
}
.modal__text p
{
  margin: 0 20px 10px;
}
/* Fim modal cartões dos editores */

/* Sobre UFES*/
.portal-wear-section 
{
  position: relative;
  background: url('../images/ufesBiblioteca.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}
.portal-wear-band 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}
.portal-wear-band-text 
{
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}
.portal-wear-band-text p 
{
  padding-top: 8px;
}
.portal-link 
{
  text-decoration: none;
  color: #8bc34a !important;
}
.portal-link:hover 
{
  color: #7cb342 !important;
}
.portal-link .material-icons 
{
  position: relative;
  top: -1px;
  vertical-align: middle;
}
.portal-alt-link 
{
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}
.portal-alt-link:hover 
{
  color: #00bfa5 !important;
}
.portal-alt-link .material-icons 
{
  position: relative;
  top: 6px;
}
/* Fim sobre ufes */

/* Sobre Cmpaas*/

.video-container 
{
  position: relative;
  padding-bottom: 55%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container video  
{
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 80%;
}

.portal-customized-section 
{
  text-align: center;
}
.portal-customized-section-text 
{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}
.portal-customized-section-text p 
{
padding-top: 16px;
}
.portal-customized-section-image 
{
  background: url('../images/ufesReitoria.png') center top no-repeat;
  background-size: cover;
  height: 400px;
}
/* Fim sobre Cmpaas*/

/* Equipe */
.portal-more-section 
{
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}
.portal-more-section .portal-section-title 
{
  margin-left: 12px;
  padding-bottom: 24px;
}
.portal-card-container .mdl-card__media 
{
  overflow: hidden;
  background: transparent;
}
.portal-card-container .mdl-card__media img 
{
  width: 100%;
}
.portal-card-container .mdl-card__title 
{
  background: transparent;
  height: auto;
}

.portal-card-container .mdl-card__title-text 
{
  color: black;
  height: auto;
}
.portal-card-container .mdl-card__supporting-text 
{
  height: auto;
  color: black;
  padding-bottom: 56px;
}
.portal-card-container .mdl-card__actions 
{
  position: absolute;
  bottom: 0;
}
.portal-card-container .mdl-card__actions a 
{
  border-top: none;
  font-size: 16px;
}
/* Fim equipe*/

/* Social equipe */
.team-leader-block
{
  max-width:993px;
  margin:0 auto;
}
.team-leader-box
{
  width:30.66%;
  margin-right: 3.82979%;
  height: 490px;
  overflow: hidden;
  text-align: center;
  float: left;
}
.team-leader-box span
{
  margin-bottom:24px;
  display:block;
}
.team-leader-box:nth-of-type(3n+0)
{ 
  margin:0;
}
.team-leader
{
  width:auto;
  height:auto;
  position:relative;
  border-radius:50%;
  box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
  margin:7px 7px 25px 7px;  
}
.team-leader-shadow
{
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  border-radius:50%;
  position:absolute;
  width:100%;
  height:100%;
  z-index:10;
  border-radius:50%;
}
.team-leader-shadow a
{
  display:block;
  width:100%;
  height:100%;
}
.team-leader:hover .team-leader-shadow
{
  box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul
{ 
  display:block; 
  opacity:1
}
.team-leader img
{
  display:block;
  border-radius:50%;
}
.team-leader ul
{
  display:block;
  opacity:0;
  padding:0;
  margin:0;
  list-style:none;
  position:absolute;
  left:0;
  top:50%;
  width:100%;
  text-align:center;
  margin-top:-14px;
  z-index:15;
  transition:all 0.6s ease-in-out;
  -moz-transition:all 0.6s ease-in-out;
  -webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li
{
  display:inline;
  margin:0 14px;
}
.team-leader ul li a
{
  font-family: 'FontAwesome';
  display:inline-block;
  font-size:28px;
  color:#fff; 
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus
{
  text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover
{
  color:#55acee;
}
.team-leader ul li a.fa-facebook:hover
{
  color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover
{
  color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover
{
  color:#dd4b39;
}
.team-leader ul li a.fa-instagram:hover
{
  color:#8a3ab9
}
.team-leader ul li a.fa-linkedin:hover
{
  color:#0077B5;
}
/* Fim social equipe*/

/*Desenvolvedores*/
.mdl-card__media 
{
    margin: 0;
}
.mdl-card__media > img 
{
  max-width: 100%;
}
.mdl-card__actions 
{
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon 
{
  margin-right: 3px;
  margin-left: 3px;
}

.isaque-card-image.mdl-card 
{
  width: 200px;
  height: 200px;
  background: url('../images/isaque.jpg') center / cover;
}
.isaque-card-image > .mdl-card__actions 
{
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.isaque-card-image__filename 
{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.israel-card-image.mdl-card 
{
  width: 200px;
  height: 200px;
  background: url('../images/israel.jpg') center / cover;
}
.israel-card-image > .mdl-card__actions 
{
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.israel-card-image__filename 
{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.raphael-card-image.mdl-card 
{
  width: 200px;
  height: 200px;
  background: url('../images/raphael.jpg') center / cover;
}
.raphael-card-image > .mdl-card__actions 
{
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.raphael-card-image__filename 
{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.breno-card-image.mdl-card 
{
  width: 200px;
  height: 200px;
  background: url('../images/breno.jpg') center / cover;
}
.breno-card-image > .mdl-card__actions 
{
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.breno-card-image__filename 
{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.marcelo-card-image.mdl-card 
{
  width: 200px;
  height: 200px;
  background: url('../images/marcelo.jpg') center / cover;
}
.marcelo-card-image > .mdl-card__actions 
{
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.marcelo-card-image__filename 
{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
/* Fim Desenvolvedores */

/* Contato */
.contato-card
{
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #FFA726;
}
.portfolio-contact .mdl-textfield 
{
  width: 100%;
}
.portfolio-contact form 
{
  max-width: 550px;
  margin: auto;
}
.mdl-card__media 
{
  background-color: #D2D2D2;
}
.contato
{
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
  background-color: #FFA726;
}
.contato iframe
{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90% !important;
  height: 90% !important;
}
.listaCentralizada
{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Fim Contato */

/* Rodapé */
.portal-footer 
{
  background-color: #fafafa;
  position: relative;
}
.portal-footer a:hover 
{
  color: #8bc34a;
}
.portal-footer .mdl-mega-footer--top-section::after 
{
  border-bottom: none;
}
.portal-footer .mdl-mega-footer--middle-section::after 
{
  border-bottom: none;
}
.portal-footer .mdl-mega-footer--bottom-section 
{
  position: relative;
}
.portal-footer .mdl-mega-footer--bottom-section a 
{
  margin-right: 2em;
}
.portal-footer .mdl-mega-footer--right-section a .material-icons 
{
  position: relative;
  top: 6px;
}
.portal-link-menu:hover 
{
  cursor: pointer;
}
/* Fim rodapé*/



/* ################################################ */
/* ################### MOBILE ##################### */
/* ################################################ */

@media (min-width:200px){

  /* Imagem principal */ 
  .portal-be-together-section 
  {
    margin-bottom: 430px;
  }
  .textoCapa
  {
    font-size: 30px;
    margin: 0 20px;
    padding-top: 295px;
  }
  .subTextoCapa
  {
    font-size: 18px;
    margin: 0 20px;
    padding-top: 15px;
  }
  .textoCapa1
  {
    font-size: 30px;
    margin: 0 20px;
    padding-top: 25px;
  }
  .subTextoCapa1
  {
    font-size: 18px;
    margin: 0 20px;
    padding-top: 15px;
  } 
}

@media (min-width:480px){

  /* Imagem principal */  
  .portal-be-together-section 
  {
    margin-bottom: 430px;
  }
  .textoCapa
  {
    font-size: 30px;
    margin: 0 100px;
    padding-top: 295px;
  }
  .subTextoCapa
  {
    font-size: 18px;
    margin: 0 100px;
    padding-top: 15px;
  }
  .textoCapa1
  {
    font-size: 30px;
    margin: 0 100px;
    padding-top: 30px;
  }
  .subTextoCapa1
  {
    font-size: 18px;
    margin: 0 100px;
    padding-top: 15px;
  } 
}

@media (min-width:600px) {

  .textoCapa
  {
    font-size: 30px;
    margin: 0 160px;
    padding-top: 295px;
  }
  .subTextoCapa
  {
    font-size: 18px;
    margin: 0 160px;
    padding-top: 15px;
  }
  .textoCapa1
  {
    font-size: 30px;
    margin: 0 160px;
    padding-top: 30px;
  }
  .subTextoCapa1
  {
    font-size: 18px;
    margin: 0 160px;
    padding-top: 15px;
  } 
}

@media (min-width:801px) {

  /* Imagem principal */  
  .portal-be-together-section 
  {
    margin-bottom: 0px;
  }
  .textoCapa
  {
    font-size: 28px;
    margin: 0 12px;
    padding-top: 118px;
  }
  .subTextoCapa
  {
    font-size: 18px;
    margin: 0 12px;
    padding-top: 15px;
  }
  .textoCapa1
  { 
    font-size: 28px;
    margin: 0 12px;
    margin-top: -193px;
  }
  .subTextoCapa1
  { 
    font-size: 18px;  
    margin: 0 12px;
    padding-top: 15px;
  } 
}

@media (max-width: 900px) {

  .mdl-layout__drawer-button
  {
    display: block;
  }
  .portal-navigation-container 
  {
    display: none;
  }
  .portal-title 
  {
    display: none !important;
  }
  .portal-mobile-title 
  {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews no iOS 9 quebra o operador "~" e WebViews no OS X 10.10 break
     Operadores "+" consecutivos em alguns casos. Portanto, precisamos usar ambos
     Aqui para cobrir todas as bases. */
  .portal.portal-search-box.is-focused ~ .portal-mobile-title,
  .portal-search-box.is-focused + .portal-navigation-container + .portal-mobile-title 
  {
    opacity: 0;
  }
  .portal-more-button 
  {
    display: none;
  }
  .portal-search-box.is-focused 
  {
    width: calc(100% - 48px);
  }
  .portal-search-box .mdl-textfield__expandable-holder 
  {
    width: 100%;
  }

  /* Imagem principal */
  .portal-be-together-section 
  {
    height: 350px;
  }
  .portal-create-character 
  {
    padding-top: 200px;
    font-size: 16px;
  }
  .portal-create-character img 
  {
    height: 12px;
  }
  .portal-wear-band-text 
  {
    margin-left: 0;
    padding: 16px;
  }
  .portal-footer .mdl-mega-footer--bottom-section 
  {
    display: none;
  }
  .contato
  {
    padding-bottom: 55%;
  }
}

@media (min-width:1025px) {

  .textoCapa
  { 
    font-size: 38px;
    margin: 0 14px;
    padding-top: 160px;
  }
  .subTextoCapa
  {
    font-size: 20px;
    margin: 0 14px;
    padding-top: 15px;
  }
  .textoCapa1
  {
    font-size: 40px;
    margin: 0 12px;
    margin-top: -218px;
  }
  .subTextoCapa1
  {
    font-size: 18px;
    margin: 0 12px;
    padding-top: 15px;
  } 
}

@media (max-width: 1200px){
  .logoPrincipal
  {
     display: none;
  }
  .logoPrincipal1
  {
     display: block;
     height: 50px;
     width: 50px;
  }
}

@media (min-width:1281px) {

  .textoCapa
  {
    font-size: 40px;
    margin: 0 50px;
    padding-top: 170px;
  }
  .subTextoCapa
  {
    font-size: 26px;
    margin: 0 50px;
    padding-top: 15px;
  }
  .textoCapa1
  {
    font-size: 40px;
    margin: 0 70px;
    margin-top: -255px;
  }
  .subTextoCapa1
  {
    font-size: 26px;
    margin: 0 70px;
    padding-top: 15px;
  } 
}