
.mdl-radio__outer-circle {
	border: 2px solid rgba(255,255,255,0.75) !important;
}

.mdl-radio__inner-circle {
	background: #fff !important;
	border: 2px solid #fff !important;
}



@font-face {
    font-family: roboto;
    src: url(fontes/RobotoCondensed-Light.ttf);
}

body {
	background-color:#311c9e;
	font-family:roboto;
	color:#fff !important;
}

#conteudo {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	margin:auto 30%;
	height:100px;
	text-align:center;
}

#conteudo h1 {
	font-size:250%;
	padding:0;
	margin:0;
}

