
#cartao-dados-mapa {
	position: fixed;
	display: block;
	right: 0;
	top: 0;
	margin-right: 40px;
	margin-top: 130px;
	z-index: 900;
}

#botao-adicionar-conceito {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 901;
}

#cartao-dados-mapa {
	width:320px;
}

#cartao-dados-mapa .mdl-card__title {
	background-image:url(img/bg.png);
	background-color:#3f51b5;
	background-size:cover;
	color:#fff;
	height:176px;
}

#cartao-dados-mapa .mdl-card__menu .material-icons {
	color:#fff;
}

#barra-titulo {
	height:30px;
}

#barra-titulo .mdl-layout__title {
	cursor:pointer;
}

#barra-menu {
	height:30px;
}

#barra-menu .mdl-navigation {
	height:30px;
}

#barra-menu .mdl-navigation__link {
	padding:0 24px 0 0;
	line-height:25px;
	height:30px;
}

#barra-ferramentas {
	background:#ececec;
	height:40px;
	color:#737373;
}

#myDiagram {
	width:100%; 
	height:500px; 
	background-color:#ddd;
	background-image:url(img/info-clique-duplo.png);
	background-size:250px auto;
	background-repeat:no-repeat;
	background-position:center;
}




